body {
    font-size: 1rem;
    line-height: 1.5;
    background: $gray31;
    font-family: "Yeseva One", "Noto Serif TC", cursive, serif;
}

a {
    display: block;
    text-decoration: none !important;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.material-symbols-outlined {
    width: 24px;
    height: 24px;
}

i {
    font-size: 18px !important;
    color: #1F1142 !important;
}

th,
td {
    vertical-align: middle;
}