.titleBanner {
    .container {
        padding: 24px 32px;

        @include pad {
            padding: 16px 12px;
        }

        h2 {
            font-size: 64px;
            font-weight: 700;

            @include pad {
                font-size: 24px !important;
            }
        }

        span {
            font-size: 32px;
            font-weight: 700;

            @include pad {
                font-size: 16px !important;
            }
        }
    }
}