<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-24">
        <li class="mb-16"><a href="Register.html" class="d-flex align-items-center"><span class="material-symbols-outlined me-8" style="width: 18px;height: 18px;">feed</span><span class=" fw-bold">REGISTER</span></a></li>
                <li><a href="login.html" class="d-flex align-items-center"><span><i class="fa-solid fa-user me-8" style="width: 18px;height: 18px;"></i></span><span class="fw-normal fw-bold">LOGIN</span></a></li>
      </ul>
    </div>
</div>
